.signup-container,
.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.link-btn {
  background-color: transparent;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.link-btn:hover {
  text-decoration: underline;
}

.signup-message,
.login-message {
  color: green;
  margin-top: 10px;
  text-align: center;
}
